@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .img-resize {
        width: 200px;
    }
   
</style>
<header class="py-5" style="background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(200,9,121,1) 35%, rgba(0,212,255,1) 100%);">
    <div class="container px-1 px-lg-1 my-1">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Giới thiệu Nguyễn Quốc Anh</h1>
            <p class="lead fw-normal mb-0" style="color: #4cff00;">Thông tin về Nguyễn Quốc Anh - Developer đam mê công nghệ! 🚀🚀🚀</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top d-block mx-auto img-resize fw-bolder" src="https://avatars.githubusercontent.com/u/74386285?v=4" alt="Nguyễn Quốc Anh" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Nguyễn Quốc Anh</h5>
                            <!-- Product description -->
                            <p>Developer yêu thích công nghệ, mã nguồn mở và phát triển phần mềm.</p>
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-success mt-auto" href="https://github.com/nguyenquocanhz" target="_blank">GitHub</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
